<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>webdemo</display-name>
  <session-config>
     <session-timeout>3</session-timeout>
  </session-config>
  <servlet>
    <servlet-name>Title</servlet-name>
    <servlet-class>servlets.TitleServlet</servlet-class>
    <init-param>
      <param-name>title</param-name>
      <param-value>Second Title</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Title</servlet-name>
    <url-pattern>/title</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Names</servlet-name>
    <servlet-class>servlets.NamesServlet</servlet-class>
    <init-param>
      <param-name>filename</param-name>
      <param-value>names.txt</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Names</servlet-name>
    <url-pattern>/names</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
  </welcome-file-list>
</web-app>